# 101 Numpy Exercises

### https://www.machinelearningplus.com/python/101-numpy-exercises-python/

In [1]:
import numpy as np

In [2]:
print(np.__version__)

1.18.4

In [3]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# 3x3 array of true
np.full((3,3), True)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [5]:
# alt method
np.ones((3,3), dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [6]:
# obtain every other number starting at index 1
arr[1::2]

array([1, 3, 5, 7, 9])

In [7]:
# obtain only odds
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

In [8]:
# set odd numbers to -1
arr[arr % 2 == 1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [9]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
out = np.where(arr % 2 == 1, -1, arr)
out

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [11]:
np.reshape(arr, (2, -1))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [12]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

In [13]:
a + b

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [14]:
# concat arrays vertically Method 1
np.concatenate((a, b))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [15]:
# concat arrays vertically Method 2
np.vstack((a,b))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [16]:
# concat arrays horizonally, maintaining row count Method 1
np.concatenate((a,b),axis = 1)

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [17]:
# concat arrays horizonally, maintaining row count Method 2
np.hstack((a,b))

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [18]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [19]:
# find all points of intersection
a[a == b]

array([2, 2, 4, 4])

In [20]:
# find unique intersects or arrays
np.intersect1d(a,b)

array([2, 4])

In [21]:
#remove elements of b from a
np.setdiff1d(a,b)

array([1, 3, 5, 6])

In [22]:
# gives indexes where elements match
np.where(a == b)

(array([1, 3, 5, 7]),)

In [23]:
# number between 5 and 10 incl

a[(a >= 5) & (a <= 10)]

array([5, 6])

In [24]:
def maxx(x,y):
    if x >= y:
        return x
    else:
        return y

In [25]:
# Vectorize uses a function, otypes sets data type to return
pair_max = np.vectorize(maxx, otypes=[float])
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
pair_max(a,b)

array([6., 7., 9., 8., 9., 7., 5.])

In [26]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [27]:
# swap first two columns
arr[:,[1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [28]:
# swap last two columns
arr[:,[0,2,1]]

array([[0, 2, 1],
       [3, 5, 4],
       [6, 8, 7]])

In [29]:
# swap first two rows
arr[[1,0,2],:]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

In [30]:
# reverse the rows
arr[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [31]:
# reverse the columns
arr[:,::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

In [32]:
# create an array with random ints
rand_ints = np.random.randint(low=5, high=10, size=(5,3))
rand_ints

array([[6, 9, 6],
       [5, 7, 9],
       [7, 7, 5],
       [6, 9, 7],
       [6, 8, 7]])

In [33]:
# create an array with random floats
rand_floats = np.random.random((5,3))
rand_floats

array([[0.80706311, 0.76831168, 0.85113491],
       [0.77832176, 0.73781406, 0.25511227],
       [0.7716406 , 0.3839965 , 0.73651418],
       [0.86098429, 0.00136557, 0.79292467],
       [0.48537147, 0.13465802, 0.90357182]])

In [34]:
# combine the arrays
rand_ints + rand_floats

array([[6.80706311, 9.76831168, 6.85113491],
       [5.77832176, 7.73781406, 9.25511227],
       [7.7716406 , 7.3839965 , 5.73651418],
       [6.86098429, 9.00136557, 7.79292467],
       [6.48537147, 8.13465802, 7.90357182]])

In [35]:
# Alt method
rand_arr = np.random.uniform(5,10, size=(5,3))
rand_arr

array([[7.79086196, 8.80368329, 9.47170437],
       [5.00663908, 9.07306228, 9.55736629],
       [8.152349  , 9.95238899, 6.56331539],
       [9.96883174, 8.61400288, 7.86010686],
       [6.69675126, 9.90332519, 5.82366806]])

In [39]:
# only 3 decimal places universal setting
np.set_printoptions(precision=3)
rand_arr

array([[7.791, 8.804, 9.472],
       [5.007, 9.073, 9.557],
       [8.152, 9.952, 6.563],
       [9.969, 8.614, 7.86 ],
       [6.697, 9.903, 5.824]])

In [42]:
# Reset printoptions to default
np.set_printoptions(precision=8, suppress=False)
# Create the random array
np.random.seed(100)
rand_arr = np.random.random([3,3])/1e3
rand_arr

array([[5.43404942e-04, 2.78369385e-04, 4.24517591e-04],
       [8.44776132e-04, 4.71885619e-06, 1.21569121e-04],
       [6.70749085e-04, 8.25852755e-04, 1.36706590e-04]])

In [44]:
# suppress scientific notation
np.set_printoptions(suppress=True, precision=8)  # precision is optional
rand_arr

array([[0.0005434 , 0.00027837, 0.00042452],
       [0.00084478, 0.00000472, 0.00012157],
       [0.00067075, 0.00082585, 0.00013671]])

In [47]:
# limit number of items shown in array
np.set_printoptions(threshold=6)
np.arange(15)

array([ 0,  1,  2, ..., 12, 13, 14])

In [48]:
# import the iris dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

In [49]:
iris

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa'],
       ...,
       [b'6.5', b'3.0', b'5.2', b'2.0', b'Iris-virginica'],
       [b'6.2', b'3.4', b'5.4', b'2.3', b'Iris-virginica'],
       [b'5.9', b'3.0', b'5.1', b'1.8', b'Iris-virginica']], dtype=object)

In [51]:
iris.shape

(150, 5)

In [57]:
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None, encoding=None)
iris_1d.shape

(150,)

In [58]:
species = np.array([row[4] for row in iris_1d])
species[:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype='<U15')

In [64]:
# convert each row to a list and get only first 4 items to get only first 4 columns

iris_2d = np.array([row.tolist()[:4] for row in iris_1d])
iris_2d[:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [62]:
# import only first 4 columns from source
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_2d[:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [66]:
# get mean, median and std of column 0
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])
mu, med, std = np.mean(sepallength), np.median(sepallength), np.std(sepallength)
mu, med, std

(5.843333333333334, 5.8, 0.8253012917851409)

In [67]:
#normalize array between 0 and 1
Smin, Smax = sepallength.min(), sepallength.max()
S = (sepallength - Smin)/(Smax - Smin)
S

array([0.22222222, 0.16666667, 0.11111111, ..., 0.61111111, 0.52777778,
       0.44444444])

In [69]:
# compute softmax score
def softmax(x):
    """Compute softmax values for each sets of scores in x.
    https://stackoverflow.com/questions/34968722/how-to-implement-the-softmax-function-in-python"""
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum(axis=0)

softmax(sepallength)

array([0.00221959, 0.00181724, 0.00148783, ..., 0.00900086, 0.006668  ,
       0.00493978])

In [73]:
sepallength

array([5.1, 4.9, 4.7, ..., 6.5, 6.2, 5.9])

In [74]:
np.exp(sepallength - np.max(sepallength))

array([0.06081006, 0.04978707, 0.0407622 , ..., 0.24659696, 0.18268352,
       0.13533528])

In [76]:
# find the 5 and 95 percentile scores of an array
np.percentile(sepallength, q=[5,95])

array([4.6  , 7.255])